@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(36, 65, 209);
}

a{
    text-decoration: none;
    color: white;
}
/*CSS IDs*/
#text-login{
    text-align: center;
    margin-top: 20%;
    color: white;
    font-family: "Poppins", sans-serif;
}

#box-login{
    text-align: center;
    margin-top: 20%;
    background-color: whitesmoke;
    height: 52vh;
    width: 80%;
    justify-self: center;
    border-radius: 5px;
    -webkit-box-shadow: 3px 6px 24px 0px #000000; 
    box-shadow: 3px 6px 24px 0px #000000;
    display: grid;
}

#button-send{
    height: 30px;
    width: 80%;
    font-weight: 700;
    background-color: rgb(36, 36, 231);
    color: white;
    cursor: pointer;
    transition: 1s;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 9px 24px -3px #000000; 
    box-shadow: 2px 9px 24px -3px #000000;
}

#button-send :hover{
    color: rgb(60, 60, 234);
}

#ToggleSenha{
    cursor: pointer;
}

#page-back{
    text-align: left;
    padding-left: 30px;
    a{
        text-decoration: none;
        color: grey;
        transition: 1s;
    }
}

#page-back a :hover{
    color: lightblue;

}

#nav-bar{
    height: 10vh;
    width: 99vw;
    display: flex;
    text-align: center;
}

#nav-bar i{
    padding-top: 30px;
    font-size: 20px;
    cursor: pointer;
}

#nav_bar-title{
    padding-left: 8px;
}
 
#text-content{
    text-align: center;
    font-family: "Poppins";
    color: white;
}

#content-app{
    text-align: center;
    height: 50vh;
    display: grid;
}

#buttons-app{
    display: flex;
    height: 20vh;
}

#Toggleconfirm{
    cursor: pointer;
    padding-top: 5px;
}

#ToggleBack{
    cursor: pointer;
    color: white;
    font-size: 30px;
    padding-top: 4px;
    padding-right: 9px;
}

#page-back{
    width: 12vw;
    height: 5vh;
    padding-left: 0;
    margin: 10px 0 0 35px;
}
/*CSS Class*/

.filter-button{
    width: 30vw;
    height: 13vh;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 10px;
    i{
        font-size: 30px;
    }
    background-color: #5170ff;
    cursor: pointer;
    color: white;
}

.add-button{
    width: 30vw;
    height: 13vh;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 10px;
    i{
        font-size: 30px;
    }
    background-color: #5170ff;
    cursor: pointer;
    color: white;
}

.content-user{
    padding: 30px 23px 10px 0px;
    display: grid;
    justify-content: center;
}

.content-user input{
    border:solid 1px rgba(0, 0, 0, 0.538);
    border-radius: 5px;
    margin-top: 20px;
    height: 20px;
}

.content-user input[type="email"]:focus{
    outline: none;
}

.content-password input[type="password"]:focus{
    outline: none;
}

.content-password{
    padding-bottom: 30px;
    display: grid;
    justify-content: center;
    margin-top: 15px;
}

.content-password input{
    border: solid 1px rgba(0, 0, 0, 0.538);
    margin-right: 22px;
    border-radius: 5px;
    margin-top: 10px;
    height: 20px;
}

.grid-icons{
    display: flex;
}

.content-register{
    padding: 30px;
    font-size: 12px;
}

.content-register a{
    text-decoration: none;
    color: blue;
}

.box-content{
    font-size: 20px;
    padding: 10px 0 10px 0 ;
    background-color: #142261;
    margin-left: 50px;
    height: 5vh;
    width: 70%;
    border-radius: 50px;
    padding-top: 25px;
    color: white;
    font-family: "Poppins";
    cursor: pointer;
    -webkit-box-shadow: 10px 19px 50px -20px #000000; 
    box-shadow: 10px 19px 50px -20px #000000;
    text-shadow: 4px 2px 20px rgba(0,0,0,0.68);
}

